@import "../../scss/utils/colors.scss";

.quotes {
  padding: 50px 0 7px;
  @media (min-width: 768px) {
    padding: 150px 0 62px;
  }
  @media (min-width: 1200px) {
    padding: 206px 115px 266px;
    width: 60%;
  }
  &__mark {
    color: $accent-color;
    font-family: Abril Fatface;
    font-size: 59px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    text-align: center;
  }
  &__text {
    color: $logo-color;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 38px;
    }

    &::before {
      content: "“";
      color: $accent-color;
      font-family: Abril Fatface;
      font-size: 59px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: block;
      text-align: center;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: 768px) {
        font-size: 69px;
      }
    }
  }
  &__line {
    background: rgba(36, 42, 55, 0.5);
    width: 150px;
    height: 1px;
    margin: 18px auto 0;
    @media (min-width: 768px) {
      margin: 28px auto 0;
    }
  }
  &__author {
    color: $label-color;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    display: block;
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
}
