@import "../../scss/utils/colors.scss";
@import "../../scss/utils/placeholder.scss";

.backdrop {
  background-image: linear-gradient(rgba(9, 30, 63, 0.8), rgba(9, 30, 63, 0.8)),
    url(../../assets/img/pic-mob-1x.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 100%;
  padding: 30px 0 11px;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(9, 30, 63, 0.8),
        rgba(9, 30, 63, 0.8)
      ),
      url(../../assets/img/pic-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    padding: 70px 0;
    // background-size: 100% 620px;
    background-image: linear-gradient(
        rgba(9, 30, 63, 0.8),
        rgba(9, 30, 63, 0.8)
      ),
      url(../../assets/img/pic-tab-1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(9, 30, 63, 0.8),
          rgba(9, 30, 63, 0.8)
        ),
        url(../../assets/img/pic-tab-2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 565px;
    padding: 185px 0;
    background-image: linear-gradient(
        rgba(9, 30, 63, 0.8),
        rgba(9, 30, 63, 0.8)
      ),
      url(../../assets/img/pic-desk1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(9, 30, 63, 0.8),
          rgba(9, 30, 63, 0.8)
        ),
        url(../../assets/img/pic-desk1x.png);
    }
  }
}

.form-login {
  width: 85%;
  height: 360px;
  margin: 0 auto;
  background: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    background-color: $base-color;
    width: 400px;
    height: 420px;
    padding: 39px 40px 25px;
  }
  &__btn {
    background: $second-color;
    box-shadow: 0px 2px 2px 0px rgba(9, 30, 63, 0.15);
    width: 150px;
    height: 40px;
    color: $input-color;
    border: none;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    line-height: 38px;
    margin-bottom: 4px;
    cursor: pointer;
    margin-bottom: 6px;
    &::before {
      content: "";
      background-image: url(../../assets/icons/google-icon.svg);
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 11px;
      left: 14px;
    }
  }
  &--submit {
    @extend %btn;
  }
  &__label {
    color: $base-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    width: 100%;
    margin-top: 10px;
    @media (min-width: 768px) {
      color: $label-color;
      font-weight: 500;
    }
  }
  &__required {
    color: $required-color;
  }
  &__input {
    background: $second-color;
    box-shadow: 0px 1px 2px 0px rgba(29, 29, 27, 0.15) inset;
    width: 100%;
    height: 42px;
    color: $placeholder-color;
    font-size: 14px;
    padding-left: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    outline: none;
    border: none;
  }
  &__link--registration {
    color: $accent-color;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    text-decoration-line: underline;
    margin-top: 4px;
  }
}
